<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electoral|Home page</title>
    <link rel="stylesheet" href="/css/electoral-home.css" th:href="@{/css/electoral-home.css}">
</head>
<body>
    <div class="header-container">
        <div class="header-card">
            <div class="part-1">
                <img src="/images/header_animation_300.gif" th:src="@{/images/header_animation_300.gif}" alt="logo">
            </div>
            <div class="part-2">
                <p>ELECTORAL</p>
                <p id="portal">PORTTAL</p>
            </div>
        </div>
    </div>

    <div class="card-container">
        <div class="cards">
            <div class="card" th:onclick="|window.location.href='/electoral/view-voter-id-requests'|">
                <img src="/images/view-voterid.gif" th:src="@{/images/view-voterid.gif}" alt="view voterid request">
                <p>View Voter Id Requests</p>
            </div>
        </div>
    </div>

    <div class="show-details" th:if="${show}">
        <h1>Voter Id Requests</h1>
        <h3 style="color:green;" th:if="${param.success}">Successfully Generated!</h3>
        <div class="details-cards">
            <form th:action="@{/electoral/generate-voter-id}" th:object="${voterIdRequestDto}" method="post">
                <div class="details-card" th:each="user : ${userDetails}">
                    <div class="card-wrapper">
                        <p th:text="${user.firstName + ' '+ user.lastName}"></p>
                        <div class="buttons">
                            <i class="fa-solid fa-angle-down"></i>
                            <input type="checkbox" name="userId" th:value="${user.userId}" th:field="*{userId}">
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="datas">
                            <div class="data">
                                <span>DOB : </span>
                                <span th:text="${user.dob}"></span>
                            </div>
                            <div class="data">
                                <span>Gender : </span>
                                <span th:text="${user.gender}"></span>
                            </div>
                            <div class="data">
                                <span>Religion : </span>
                                <span th:text="${user.religion}"></span>
                            </div>
                            <div class="data">
                                <span>Caste : </span>
                                <span th:text="${user.caste}"></span>
                            </div>
                            <div class="data">
                                <span>Address : </span>
                                <span th:text="${user.address}"></span>
                            </div>
                            <div class="data">
                                <span>State : </span>
                                <span th:text="${user.state}"></span>
                            </div>
                            <div class="data">
                                <span>City : </span>
                                <span th:text="${user.city}"></span>
                            </div>
                            <div class="data">
                                <span>Phone No : </span>
                                <span th:text="${user.phoneNo}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="button"><span>Update </span></button>
            </form>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/902e5a7c60.js" crossorigin="anonymous"></script>
    <script src="electoral-home.js" th:src="@{/js/electoral-home.js}"></script>
</body>
</html>